/* list_job.css */

.container-list-job {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.job-postings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.job-posting {
    background-color:blue;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 20px);
    /* Three items per row */
    box-sizing: border-box;
}

.job-posting h3 {
    margin-top: 0;
}

.job-posting p {
    margin: 10px 0;
}

.apply-btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.edit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.bm {
    text-align: center;
    margin-top: 20px;
}

.bm button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .job-posting {
        width: calc(50% - 20px);
        /* Two items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .job-posting {
        width: 100%;
        /* One item per row on very small screens */
    }
}